@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/Figtree-Light.woff2') format('woff2'),
        url('../assets/fonts/Figtree-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
