/* This is here purely for development, comment it out for release */
* {
	/* outline: 1px solid red; */
	margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* overflow-x: scroll;
    overflow-y: scroll;
    height: 100%; */
    line-height: 1.2;
}



#business-msg {
    background-color: #2f3c4e;
    display: flex;
    justify-content: space-around;
    /* top, right, bottom, left */
    padding: 75px 150px 75px 150px;
}
#business-msg .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 800px;
}
/* increase line spacing */
#business-msg .container .title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    /* line-height: 1.2; */
    text-align: center;
}
#business-msg .container .subtext {
    color: #E5E7EB;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
}
#business-msg .container button {
    color: #F9FAF8;
    background-color: #3882F6;
    /* round corners */
    border-radius: 10px;
    /* flexbox seems to mess with setting left and right padding, so have to set width */
    width: 200px;
    padding-top: 4px;
    padding-bottom: 4px;
    /* border: 4px solid #3882F6; */
    border: none;
    font-size: 18px;
    font-weight: 500;
}



#success-stories {
    display: flex;
    flex-direction: column;
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}
#success-stories .title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 30px;
}
#success-stories .stories {
    display: flex;
    justify-content: space-between;
}
#success-stories .story {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
}
#success-stories img {
    border-radius: 10px;
    border: 4px solid #7a7a7a;
    width: 200px;
    margin: 10px;
}
#success-stories .subtext {
    color: #6a6a6a;
    font-size: 20px;
    text-align: center;
    /* can't figure out how to make textbox size based on img width, so I'm just eyeballing it */
    padding-left: 26px;
    padding-right: 26px;
}



#methods {
    background-color: #E5E7EB;
    /* top, right, bottom, left */
    padding: 75px 50px 75px 50px;
    color: #1F2937;
}
#methods .title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 30px;
}
#methods .grid {
    display: grid;
    border: 1px solid black;
    border-radius: 3px;
    /* if you want to have different sized columns, then use the commented att */
    /* grid-template-columns: 10fr 10fr 10fr 10fr 10fr 10fr 10fr; */
    grid-template-columns: 2fr repeat(6, 10fr);
    grid-template-rows: repeat(7, 1fr);
}
#methods .cell {
    padding: 6px;
    display: grid;
    border: 1px solid black;
    font-size: 20px;
}
#methods .descript {
    background-color: #d8dce1;
}
#methods .detail {
    background-color: #e9edf4;
}
#methods .quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    /* line-height: 1.2; */
    margin-bottom: 20px;
}
#methods .quoter {
    color: #1F2937;
    font-size: 24px;
    font-weight: 900;
    text-align: end;
}



#call-to-action {
    /* top, right, bottom, left */
    padding: 75px 150px 75px 150px;
}
#call-to-action .box {
    background-color: #3882F6;
    /* round corners */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
}
#call-to-action .title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
#call-to-action .subtext {
    color: #E5E7EB;
    font-size: 18px;
}
#call-to-action button {
    color: #F9FAF8;
    background-color: #3882F6;
    /* round corners */
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 2px solid #F9FAF8;
    font-size: 18px;
    font-weight: 500;
}
