:root {
    /* theme colors by color name */
    --blue: #3882F6;
    --dark-blue: #003060;
    --dark-gray-blue: #2f3c4e;
    /* --tan: #f9e672; */
    --light-blue-gray: #E5E7EB;
    --gray: #6a6a6a;
    --soft-gray: #a6a9ad;


    /* theme colors by color function */
    --header-color: white;
    --header-text-color: var(--dark-blue);

    --sec1-bg-color: var(--light-blue-gray);
    --sec1-title-color: black;
    --sec1-subtext-color: var(--dark-blue-gray);
    --sec1-btn-color: var(--blue);
    --sec1-btn-text-color: white;

    --sec2-bg-color: white;
    --sec2-header-color: black;
    --sec2-story-border-color: black;
    --sec2-img-border-color: var(--gray);
    --sec2-subtext-color: var(--gray);

    --sec3-bg-color: var(--light-blue-gray);
    --sec3-header-color: black;
    --sec3-grid-color: black;
    --sec3-text-color: black;
    --sec3-descript-col-color: #d8dce1;
    --sec3-detail-col-color: #e9edf4;

    --sec4-bg-color: white;
    --sec4-header-color: black;
    --sec4-subtext-color: var(--gray);
    --sec4-btn-color: var(--blue);
    --sec4-btn-text-color: white;

    --footer-color: var(--dark-blue);
    --footer-text-color: white;
}
