#opener {
    /* top, right, bottom, left */
    padding: 50px 100px 50px 100px;
}
#opener .title {
    margin-bottom: 6px;
}



#contact {
    /* top, right, bottom, left */
    padding: 50px 100px 50px 100px;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
#contact .header {
    font-size: 30px;
    margin-bottom: 6px;
}



#hours {
    /* top, right, bottom, left */
    padding: 50px 100px 50px 100px;
}
#hours .header {
    margin-bottom: 6px;
}
