* {
    /* border: 1px solid red; */
}

#opener {
    /* top, right, bottom, left */
    padding: 75px 110px 75px 110px;
    background-color: var(--bg1);
}
#opener .title {
    margin-bottom: 10px;
}
#opener .description {

}



#tab-bar {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
#tab-bar .tab-link {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

    font-size: 20px;
    font-weight: 200;
}
#tab-bar .tab-link:first-child {
    margin-left: 100px;
}
#tab-bar .tab-link:hover {
    background-color: #ddd;
}
#tab-bar .tab-link.active {
    background-color: #ccc;
}



#stories {
    /* top, right, bottom, left */
    padding: 50px 100px 50px 100px;
}
#stories .header {
    margin-bottom: 20px;
}
#stories .story-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#stories .story {
    /* horizontal offset, vertical offset, blur radius, spread radius, color */
    /* box-shadow: 0 0 10px -4px gray; */

    border: 1px solid gray;
    border-radius: 6px;
    padding: 20px;

    /* margin-bottom: 20px; */
}
#stories .story .header {
    font-size: 30px;
}
#stories .parts {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    align-items: center;
}
#stories .part {
    /* grow, shrink, basis */
    /* flex: 1 1 0px; */
    /* border-radius: 6px; */
    /* padding: 10px; */
}
#stories .subheader {
    margin-bottom: 6px;
    text-align: center;
}
#stories .challenge, #stories .solution, #stories .results {
    /* height: 300px; */
    /* flex: 1 1 0px; */

    border-radius: 6px;
    padding: 10px;
}
#stories .challenge {
    border: 2px solid var(--challenge);
}
#stories .solution {
    border: 2px solid var(--solution);
}
#stories .results {
    border: 2px solid var(--results);
}
#stories .right-arrow {
    flex: 1 1 0px;
    width: 40px;
}
#stories .extra {
    margin-top: 20px;
}



#articles {
    /* top, right, bottom, left */
    padding: 50px 100px 50px 100px;
}
#articles .header {
    margin-bottom: 20px;
}
#articles .sub-tab-bar {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}
#articles .sub-tab-bar .tab-link {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

    font-size: 20px;
    font-weight: 200;
}
#articles .sub-tab-bar .tab-link:hover {
    background-color: #ddd;
}
#articles .sub-tab-bar .tab-link.active {
    background-color: #ccc;
}
#articles .article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}
#articles .article-list .article {
    width: 29%;
    padding: 10px;

    /* horizontal-offset, vertical-offset, blur, spread, color */
    box-shadow: 0 0 10px -4px gray;
    border: 1px solid gray;
}
/* effectlively gap, but without needing flex */
#articles .article > *:not(:last-child) {
    display: block;
    margin-bottom: 6px;
}
#articles .article .title {
    font-size: 20px;
    text-decoration: none;
}
#articles .article .tag {
    font-size: 14px;
    color: gray;
}
#articles .article .date {
    font-size: 14px;
    color: gray;
}




#events {
    /* top, right, bottom, left */
    padding: 50px 100px 50px 100px;
}
#events .header {
    margin-bottom: 20px;
}
#events .events-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}
#events .events-list .event {
    width: 29%;
    padding: 10px;

    /* horizontal-offset, vertical-offset, blur, spread, color */
    box-shadow: 0 0 10px -4px gray;
    border: 1px solid gray;
}
#events .event .name {
    font-size: 20px;
    /* text-decoration: none; */
    display: block;
    margin-bottom: 10px;
}
#events .event .date {
    font-size: 14px;
    color: gray;
}
#events .event .details {
    font-size: 14px;
    /* color: gray; */
    text-decoration: none;
}
#events .event .record {
    font-size: 14px;
    /* color: gray; */
    text-decoration: none;
}



#mentees {
    /* top, right, bottom, left */
    padding: 50px 100px 50px 100px;
}
#mentees .header {
    margin-bottom: 20px;
}
#mentees .mentees-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}
#mentees .mentees-list .mentee {
    width: 29%;
    padding: 10px;

    /* horizontal-offset, vertical-offset, blur, spread, color */
    box-shadow: 0 0 10px -4px gray;
    border: 1px solid gray;
}
#mentees .mentee .course {
    font-size: 20px;
    /* text-decoration: none; */
    display: block;
    margin-bottom: 10px;
}
#mentees .mentee .organization {
    font-size: 16px;
    margin-bottom: 8px;
    /* color: gray; */
    /* text-decoration: none; */
}
#mentees .mentee .date {
    font-size: 14px;
    color: gray;
    text-decoration: none;
}
#mentees .mentee .link {
    font-size: 14px;
    /* color: gray; */
    text-decoration: none;
}
