#opener {
    /* top, right, bottom, left */
    padding: 75px 110px 75px 110px;
    background-color: var(--bg1);
}
#opener .title {
    margin-bottom: 10px;
}
#opener .description {

}



#stories {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#stories .story {
    /* horizontal offset, vertical offset, blur radius, spread radius, color */
    /* box-shadow: 0 0 10px -4px gray; */

    border: 1px solid gray;
    border-radius: 6px;
    padding: 20px;

    /* background-color: var(--bg2); */
    
    /* grow, shrink, basis */
    /* flex: 1 1 0px; */
}
#stories .parts {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    align-items: center;
}
#stories .part {
    /* grow, shrink, basis */
    /* flex: 1 1 0px; */
    /* border-radius: 6px; */
    /* padding: 10px; */
}
#stories .subheader {
    margin-bottom: 6px;
    text-align: center;
}
#stories .challenge, #stories .solution, #stories .results {
    /* height: 300px; */
    /* flex: 1 1 0px; */

    border-radius: 6px;
    padding: 10px;
}
#stories .challenge {
    border: 2px solid var(--challenge);
}
#stories .solution {
    border: 2px solid var(--solution);
}
#stories .results {
    border: 2px solid var(--results);
}
#stories .right-arrow {
    flex: 1 1 0px;
    width: 40px;
}
#stories .extra {
    margin-top: 20px;
}



#articles {
    padding: 75px 100px 75px 100px;
}
#articles .header {
    margin-bottom: 20px;
}
#articles .article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}
#articles .article-list .article {
    width: 29%;
    padding: 10px;

    /* horizontal-offset, vertical-offset, blur, spread, color */
    box-shadow: 0 0 10px -4px gray;
    border: 1px solid gray;
}
#articles .article .title {
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}
#articles .article .date {
    font-size: 14px;
    color: gray;
}




#events {
    padding: 75px 100px 75px 100px;
}
#events .header {
    margin-bottom: 20px;
}
#events .events-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 50px;
}
#events .events-list .event {
    width: 29%;
    padding: 10px;

    /* horizontal-offset, vertical-offset, blur, spread, color */
    box-shadow: 0 0 10px -4px gray;
    border: 1px solid gray;
}
#events .event .name {
    font-size: 20px;
    /* text-decoration: none; */
    display: block;
    margin-bottom: 10px;
}
#events .event .date {
    font-size: 14px;
    color: gray;
}
#events .event .details {
    font-size: 14px;
    /* color: gray; */
    text-decoration: none;
}
#events .event .record {
    font-size: 14px;
    /* color: gray; */
    text-decoration: none;
}

#events .mentees-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}
#events .mentees-list .mentee {
    width: 29%;
    padding: 10px;

    /* horizontal-offset, vertical-offset, blur, spread, color */
    box-shadow: 0 0 10px -4px gray;
    border: 1px solid gray;
}
#events .mentee .course {
    font-size: 20px;
    /* text-decoration: none; */
    display: block;
    margin-bottom: 10px;
}
#events .mentee .organization {
    font-size: 16px;
    margin-bottom: 8px;
    /* color: gray; */
    /* text-decoration: none; */
}
#events .mentee .date {
    font-size: 14px;
    color: gray;
    text-decoration: none;
}
#events .mentee .link {
    font-size: 14px;
    /* color: gray; */
    text-decoration: none;
}
