* {
    /* outline: 1px solid red; */
}

:root {
  --chart-width: 700px;
}

#opener {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
    background-color: var(--bg1);
}



#details {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
    background-color: var(--bg0);
}



#methods {
    display: flex;
    flex-direction: column;
    gap: 30px;

    /* top, right, bottom, left */
    padding: 75px 50px 75px 50px;

    background-color: var(--bg1);
}
#methods .header {
    color: var(--txt0);
    text-align: center;
}
#methods .grid {
    display: grid;
    border: 1px solid var(--sec3-grid-color);
    border-radius: 3px;
    /* if you want to have different sized columns, then use the commented att */
    /* grid-template-columns: 10fr 10fr 10fr 10fr 10fr 10fr 10fr; */
    grid-template-columns: 2fr repeat(6, 10fr);
    grid-template-rows: repeat(7, 1fr);
}
#methods .cell {
    padding: 6px;
    display: grid;
    border: 1px solid var(--txt0);
}
#methods .descript {
    background-color: var(--sec3-descript-col-color);
}
#methods .detail {
    background-color: var(--sec3-detail-col-color);
}



#hex-flowchart {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
    background-color: var(--bg0);
}
#hex-flowchart .header {
    margin-bottom: 20px;
}
/* container */
#hex-flowchart .flowchart {
    margin: auto;
    /* all hard size adjustments for flowchart should be made here */
    width: var(--chart-width);
    aspect-ratio: 1677 / 1500;
    position: relative;
    text-align: center;
}
#hex-flowchart .flowchart .hex-img {
    /* display: block just to get rid of bottom margin */
    display: block;
    width: var(--chart-width);
    object-fit: cover;
    overflow: hidden;
    user-select: none;
    /* position: absolute;
    left: 0;
    top: 0; */
    position: absolute;
}
#hex-flowchart .flowchart .text {
    position: absolute;
    font-size: 110%;
    align-content: center;
}
#hex-flowchart .flowchart .center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 20%;
}
#hex-flowchart .flowchart .top-right {
    top: 9%;
    right: 0%;
    width: 18%;
    height: 11%;
}



#value-chain-analogy {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}



#four-methods {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}



#organization-gap {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}



#defining-value {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}



#ROI {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}



#balance-value-growth {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}



#governance-oversight {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}
