#opener {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
    background-color: var(--bg1);
}



#details {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
    background-color: var(--bg0);
}



#methods {
    display: flex;
    flex-direction: column;
    gap: 30px;

    /* top, right, bottom, left */
    padding: 75px 50px 75px 50px;

    background-color: var(--bg1);
}
#methods .header {
    color: var(--txt0);
    text-align: center;
}
#methods .grid {
    display: grid;
    border: 1px solid var(--sec3-grid-color);
    border-radius: 3px;
    /* if you want to have different sized columns, then use the commented att */
    /* grid-template-columns: 10fr 10fr 10fr 10fr 10fr 10fr 10fr; */
    grid-template-columns: 2fr repeat(6, 10fr);
    grid-template-rows: repeat(7, 1fr);
}
#methods .cell {
    padding: 6px;
    display: grid;
    border: 1px solid var(--txt0);
}
#methods .descript {
    background-color: var(--sec3-descript-col-color);
}
#methods .detail {
    background-color: var(--sec3-detail-col-color);
}



#process {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
    background-color: var(--bg0);
}
#process .diagram {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* align-items: start; */
    /* justify-items: center; */
    /* max-width: 7in; */
    /* gap: 20px; */
}
#process .block {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
}
#process .b1 {
    grid-column: 2 / 5;
    grid-row: 2;
}
#process .b2 {
    grid-column: 6 / 9;
    grid-row: 2;
}
#process .b3 {
    grid-column: 10 / 13;
    grid-row: 2;
}
#process .b4 {
    grid-column: 10 / 13;
    grid-row: 4;
}
#process .b5 {
    grid-column: 6 / 9;
    grid-row: 4;
}
#process .b6 {
    grid-column: 2 / 5;
    grid-row: 4;
}


/* css for connectors */
#process .diagram .connector {
    width: 50%;
    margin: auto;
}
.r2 {
    grid-row: 2;
}
.r3{
    grid-row: 3;
}
.r4 {
    grid-row: 4;
}
.c3 {
    grid-column: 3;
}
.c5 {
    grid-column: 5;
}
.c9 {
    grid-column: 9;
}
.c11 {
    grid-column: 11;
}



#value-chain-analogy {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}



#four-methods {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}



#organization-gap {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}



#defining-value {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}



#ROI {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}



#balance-value-growth {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}



#governance-oversight {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}
