* {
    /* outline: 1px solid red; */
}

:root {
  --hex-width: 700px;
  --vc-width: 1200px;
  --graph-width: 1200px;

  --light-gray: rgb(220, 220, 220);
}

#opener {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
    background-color: var(--bg1);
}



#details {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
    background-color: var(--bg0);
}



#methods {
    display: flex;
    flex-direction: column;
    gap: 30px;

    /* top, right, bottom, left */
    padding: 75px 50px 75px 50px;

    background-color: var(--bg1);
}
#methods .header {
    color: var(--txt0);
    text-align: center;
}
#methods .grid {
    display: grid;
    border: 1px solid var(--sec3-grid-color);
    border-radius: 3px;
    /* if you want to have different sized columns, then use the commented att */
    /* grid-template-columns: 10fr 10fr 10fr 10fr 10fr 10fr 10fr; */
    grid-template-columns: 2fr repeat(6, 10fr);
    grid-template-rows: repeat(7, 1fr);
}
#methods .cell {
    padding: 6px;
    display: grid;
    border: 1px solid var(--txt0);
}
#methods .descript {
    background-color: var(--sec3-descript-col-color);
}
#methods .detail {
    background-color: var(--sec3-detail-col-color);
}



#hex-flowchart {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
    background-color: var(--bg0);
}
#hex-flowchart .header {
    margin-bottom: 20px;
}
/* container */
#hex-flowchart .flowchart {
    margin: auto;
    /* all hard size adjustments for flowchart should be made here */
    width: var(--hex-width);
    aspect-ratio: 1677 / 1500;
    position: relative;
    /* text horizontal align */
    text-align: center;
}
#hex-flowchart .flowchart .hex-img {
    /* display: block just to get rid of bottom margin */
    display: block;
    width: var(--hex-width);
    object-fit: cover;
    overflow: hidden;
    user-select: none;
    position: absolute;
}
#hex-flowchart .flowchart .part {
    position: absolute;
    font-size: 110%;
    /* text vertical align */
    align-content: center;
}
/* center */
#hex-flowchart .flowchart .center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 20%;
    font-weight: bold;
    font-size: 130%;
}
/* right */
#hex-flowchart .flowchart .top-right {
    transform: translateY(-50%);
    top: 15%;
    right: -14%;
    width: 30%;
    height: 15%;
    text-align: left;
}
#hex-flowchart .flowchart .mid-right {
    transform: translateY(-50%);
    top: 51%;
    right: -30%;
    width: 30%;
    height: 15%;
    text-align: left;
}
#hex-flowchart .flowchart .bot-right {
    transform: translateY(-50%);
    bottom: -1%;
    right: -15%;
    width: 30%;
    height: 15%;
    text-align: left;
}
/* left */
#hex-flowchart .flowchart .top-left {
    transform: translateY(-50%);
    top: 15%;
    left: -14%;
    width: 30%;
    height: 15%;
    text-align: right;
}
#hex-flowchart .flowchart .mid-left {
    transform: translateY(-50%);
    top: 51%;
    left: -30%;
    width: 30%;
    height: 15%;
    text-align: right;
}
#hex-flowchart .flowchart .bot-left {
    transform: translateY(-50%);
    bottom: -1%;
    left: -14%;
    width: 30%;
    height: 15%;
    text-align: right;
}



#vc-analogy {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}
#vc-analogy .header {
    margin-bottom: 20px;
}
/* container */
#vc-analogy .chain {
    margin: auto;
    /* all hard size adjustments for flowchart should be made here */
    width: var(--vc-width);
    aspect-ratio: 3 / 1;
    position: relative;
    /* text horizontal align */
    text-align: center;
}
#vc-analogy .chain .vc-img {
    /* display: block just to get rid of bottom margin */
    display: block;
    width: var(--vc-width);
    object-fit: cover;
    overflow: hidden;
    user-select: none;
    position: absolute;
}
#vc-analogy .chain .part {
    position: absolute;
    font-size: 110%;
    /* text vertical align */
    /* align-content: center; */
}
/* steps */
#vc-analogy .chain .p1 {
    transform: translate(-50%, -50%);
    bottom: -10%;
    left: 9%;
    width: 25%;
    height: 30%;
}
#vc-analogy .chain .p2 {
    transform: translate(-50%, -50%);
    bottom: -10%;
    left: 36%;
    width: 25%;
    height: 30%;
}
#vc-analogy .chain .p3 {
    transform: translate(-50%, -50%);
    bottom: -10%;
    left: 63%;
    width: 25%;
    height: 30%;
}
#vc-analogy .chain .p4 {
    transform: translate(-50%, -50%);
    bottom: -10%;
    left: 90%;
    width: 25%;
    height: 30%;
}



#four-methods {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}
#four-methods .header {
    margin-bottom: 20px;
}
#four-methods .quarters {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
#four-methods .quarter {
    display: flex;
    justify-content: space-evenly;
}
#four-methods .q1 {
    border-right: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
}
#four-methods .q2 {
    border-left: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
}
#four-methods .q3 {
    border-right: 1px solid var(--light-gray);
    border-top: 1px solid var(--light-gray);
}
#four-methods .q4 {
    border-left: 1px solid var(--light-gray);
    border-top: 1px solid var(--light-gray);
}
#four-methods .quarter .q-img {
    object-fit: contain;
    width: 200px;
}
#four-methods .quarter .desc {
    width: 60%;
    /* text vertical align */
    align-content: center;
}
#four-methods .desc .subheader {
    font-weight: bold;
    margin-bottom: 20px;
}



#organization-gap {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}
#organization-gap .header {
    margin-bottom: 20px;
}
/* container */
#organization-gap .graph {
    margin: auto;
    /* all hard size adjustments for flowchart should be made here */
    width: var(--graph-width);
    aspect-ratio: 3 / 1;
    position: relative;
    /* text horizontal align */
    text-align: center;
}
#organization-gap .graph .graph-img {
    /* display: block just to get rid of bottom margin */
    display: block;
    width: var(--graph-width);
    object-fit: cover;
    overflow: hidden;
    user-select: none;
    position: absolute;
}
#organization-gap .graph .part {
    position: absolute;
    font-size: 110%;
    /* text vertical align */
    align-content: center;
}
/* steps */
#organization-gap .graph .top {
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    width: 17%;
    height: 10%;
    font-weight: bold;
}
#organization-gap .graph .center {
    transform: translate(-50%, -50%);
    bottom: 15%;
    left: 50%;
    width: 20%;
    height: 20%;
    font-weight: bold;
}
#organization-gap .graph .left {
    transform: translate(-50%, -50%);
    bottom: 15%;
    left: 24%;
    width: 20%;
    height: 20%;
    color: white;
}
#organization-gap .graph .right {
    transform: translate(-50%, -50%);
    bottom: 15%;
    left: 76%;
    width: 20%;
    height: 20%;
    color: white;
}



#defining-value {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}
#defining-value .header {
    margin-bottom: 20px;
}



#ROI {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}
#ROI .header {
    margin-bottom: 20px;
}



#balance-value-growth {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}
#balance-value-growth .header {
    margin-bottom: 20px;
}



#governance-oversight {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}
#governance-oversight .header {
    margin-bottom: 20px;
}
