#opener {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
    background-color: var(--bg1);
}



#process {
    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}
#process .diagram {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* align-items: start; */
    /* justify-items: center; */
    /* max-width: 7in; */
    /* gap: 20px; */
}
#process .block {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
}
#process .b1 {
    grid-column: 2 / 5;
    grid-row: 2;
}
#process .b2 {
    grid-column: 6 / 9;
    grid-row: 2;
}
#process .b3 {
    grid-column: 10 / 13;
    grid-row: 2;
}
#process .b4 {
    grid-column: 10 / 13;
    grid-row: 4;
}
#process .b5 {
    grid-column: 6 / 9;
    grid-row: 4;
}
#process .b6 {
    grid-column: 2 / 5;
    grid-row: 4;
}


/* css for connectors */
#process .diagram .connector {
    width: 50%;
    margin: auto;
}
.r2 {
    grid-row: 2;
}
.r3{
    grid-row: 3;
}
.r4 {
    grid-row: 4;
}
.c3 {
    grid-column: 3;
}
.c5 {
    grid-column: 5;
}
.c9 {
    grid-column: 9;
}
.c11 {
    grid-column: 11;
}
